$bg-color: #efefef;
$text-color: #333;
$light-color: #565656;
$extra-light: #bbb;
$border-color: #ddd;
$realtime-color: #03a9f4;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-size: 16px;
}

.stop-search-results {
  .small {
    color: $extra-light;
  }
}

.timetable {
  .stop-details {
    padding: 1.2rem 1.2rem 0.5rem;

    h4 {
      display: inline;
    }

    span {
      color: $light-color;
    }
  }

  table.table.table-striped {
    border-bottom: 2px solid $border-color;

    .line {
      font-weight: bold;
    }

    tr.gone {
      &,
      .realtime {
        color: $extra-light;
      }
    }

    th,
    td {
      &:first-child {
        padding-left: 1.2rem;
      }

      &:last-child {
        padding-right: 1.2rem;
      }
    }

    td.min {
      white-space: nowrap;
    }

    td .realtime {
      color: $realtime-color;
    }
  }
}
