$bg-color: #efefef;
$text-color: #333;
$light-color: #565656;
$extra-light: #bbb;
$border-color: #ddd;
$realtime-color: #03a9f4;
$error-color: #f1003f;
$breakpoint: 768px;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-size: 16px;
}

.stop-search-results {
  .small {
    color: $extra-light;
  }

  button:focus {
    outline: 0;
  }
}

.loading {
  padding: 1.2rem;
}

.error-message {
  padding-top: 2rem;
  color: $error-color;
}

.timetable {
  padding: 0 0 0.8rem;

  @media (min-width: $breakpoint) {
    &:nth-of-type(even) {
      border-left: 2px solid $border-color;
    }
  }

  .stop-details {
    padding: 1.2rem 1.2rem 0.5rem;

    h4 {
      display: inline;
    }

    span {
      color: $light-color;
    }
  }

  table.table.table-striped {
    border-bottom: 2px solid $border-color;
    margin-bottom: 0;

    .line {
      font-weight: bold;
    }

    tr.gone {
      &,
      .realtime {
        color: $extra-light;
      }
    }

    th,
    td {
      &:first-child {
        padding-left: 1.2rem;
      }

      &:last-child {
        padding-right: 1.2rem;
      }
    }

    td.min {
      white-space: nowrap;
    }

    td .realtime {
      color: $realtime-color;
      vertical-align: text-top;
    }
  }
}
